{% extends "layout.html" %} 
{% block title %}Bağlantılar{% endblock title %}
{% block body %}

{% import "macros.html" as m %}

{{m.ust_bilgi("Bağlantılar","fas fa-link")}}

<div class="container-fluid">
  <div class="row g-2 pb-3 border-bottom pb-2">
    <div class="col-md-12 text-center pb-2">
      <a href="https://www.kosgeb.gov.tr/" role="button" target="_blank"
        ><img
          src="{{url_for ('static', filename='img/kosgeb_logo.png')}}"
          class="img-fluid"
          alt="Responsive image"
          style="max-width: 15%"
        />
      </a>
    </div>
    <div class="col-md-12">
      <div class="btn-group d-flex justify-content-center">
        {{m.baglantilar_resimsiz_anchor("KBS Personel","https://kbspersonel.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("Destek Personel","http://destekpersonel.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("Evrak","http://evrak.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("E-İmza","https://eimza.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("E-Mail","https://posta.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("İntranet","https://kds.kosgeb.gov.tr/")}}
        {{m.baglantilar_resimsiz_anchor("Yardım Masası","https://yardimmasasi.kosgeb.gov.tr/")}}
      </div>
    </div>
  </div>

  <div class="row g-2 pb-3 pt-2 border-bottom align-items-center">
    <div class="col-md-3">
      <a href="https://mys.hmb.gov.tr/" role="button" target="_blank"
        ><img
          style="max-width: 70%"
          src="{{url_for ('static', filename='img/maliyeLogo.jpg')}}"
          class="img-fluid"
          alt="Responsive image"
        />
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://ivd.gib.gov.tr/" role="button" target="_blank"
        ><img
          style="max-width: 70%"
          src="{{url_for ('static', filename='img/ivd_logo.png')}}"
          class="img-fluid"
          alt="Responsive image"
        />
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://uyg.sgk.gov.tr/EborcSorgu/" role="button" target="_blank"
        ><img
          style="max-width: 80%"
          src="{{url_for ('static', filename='img/sgk_logo.png')}}"
          class="img-fluid"
          alt="Responsive image"
        />
      </a>
    </div>
  </div>
</div>

{% endblock body %}
